/**CONTACTO**/
fieldset {
  legend {
    color: white;
  }
  textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 80%;
    width: 80%;
  }
}
input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
