/**CONTACTO**/
fieldset {
  legend {
    color: white;
  }
  textarea {
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
  }
}
input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
label {
  color: white;
  font-size: 20px;
}

#boton {
  background: $ColorFondoBoton;
  color: $Fondo;
  padding: 20px;
  #boton:hover {
    cursor: pointer;
  }
}
