/**RESERVAS**/

.tituloreserva {
  display: flex;
  color: white;
  justify-content: center;
  text-decoration: underline;
}

.textoreserva {
  text-align: center;
  font-weight: 200;
  letter-spacing: 5px;
  font-family: cursive;
  font-style: italic;
}

fieldset {
  legend {
    color: white;
  }
  textarea {
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
  }
}
label input {
  color: white;
  font-size: 20px;
}
input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#boton {
  background: $ColorFondoBoton;
  color: $Fondo;
  padding: 20px;
  #boton:hover {
    cursor: pointer;
  }
}
