/**RESERVAS**/

.tituloreserva {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background: #ccc;
  text-transform: uppercase;
  background: linear-gradient(#00a000, white, red);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textoreserva p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 5px;
  font-style: italic;
}

fieldset {
  legend {
    display: flex;
    justify-content: center;
    text-align: center;
    background: $ColorFondoBoton;
    text-transform: uppercase;
    color: $ColorFondoBoton;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
label {
  color: white;
  font-size: 20px;
}
label input {
  display: flex;
  color: black;
  font-size: 20px;
}
input {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Botones de Reserva y contactos */
input[type="reset"]:hover,
input[type="reset"]:focus {
  background: $Color3;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: $ColorFondoBoton;
}
